html {
  box-sizing: border-box;
}


body {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

h1 {
  background-color: #283e50;
  color: white;
  padding: 15px 0;
  width: 100%;
  margin: 0;
  font-size: 3em;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;

}

p {
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
  background-color: #283e50;
  color: white;
  padding: 15px 10px;
  box-sizing: border-box;
  margin: 0;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 0;
  text-align: center;

}

img {
  width: 100%;
  border-radius: 10px 10px 0 0;

}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.buttons a {

  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 0;
  width: 100%;
  color: #ffffff;
  display: block;

}

.button--green {
  background: #1fcca4;
}

.button--blue {
  background: #0197f6;

}

.button--green:hover {
  background: #1cbb96;

}

.button--blue:hover {
  background: #0090e9;

}

/*----------------------------------------------------*/

.obsah-hry {
  max-width: 80vw;
}

.hlavni-menu {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hrac {
  display:flex;
  align-items: center;
}

.znovu{
  padding: 5px;
  border-radius: 10%;
  width: 30px; 
  height: 30px;
  background: #0197f6;
}

.domu {
  padding: 5px;
  border-radius: 10%;
  width: 30px; 
  height: 30px;
  background: #1fcca4; 
}

.jmeno-hry {
  background-color: transparent;
  text-align: center;
  margin: 0;

}
.play-button img {
  margin: 3px;
}
.hraci-plocha {
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
}

.hraci-pole {
  border: 1px solid rgb(94, 93, 93);
  padding-top: 100%;
  background-color: rgba(255,255,255,0.4);
}

.hraci-pole:hover,
.hraci-pole:focus {
  background-color: rgba(255,255,255,0.6);

}

/*----------------------------------------------------------*/
.board__field--circle {
  background-image: url("circle\ \(1\).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  /*animation: zoomIn 0.15s ease-out*/
}
.board__field--cross {
  background-image: url("cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  /*animation: zoomIn 0.15s ease-out*/

}
