body {
  background: linear-gradient(#615dad, #ffc8da);
  width: 100vw;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: lobster, sans-serif;
  background-color: #ffffff;
  padding: 15px 0;
  width: 100%;
  margin: 0;
  font-size: 3em;

}

p {
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
  color: #283e50;
  padding: 15px 10px;
  box-sizing: border-box;
  margin: 0;
}
